<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AmazingTerminal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <applicationSettings>
    <AmazingTerminal.Properties.Settings>
      <setting name="APIHost" serializeAs="String">
        <value>http://188.166.69.234/</value>
      </setting>
      <setting name="SportsEndpoint" serializeAs="String">
        <value>api/v1/line/sports</value>
      </setting>
      <setting name="SportsTranslationsEndpoint" serializeAs="String">
        <value>api/v1/translate/sports/{0}</value>
      </setting>
      <setting name="AppLanguage" serializeAs="String">
        <value>ru</value>
      </setting>
      <setting name="LoginWindowRequires" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CountriesTranslationsEndpoint" serializeAs="String">
        <value>api/v1/translate/countries/{0}</value>
      </setting>
      <setting name="LeaguesTranslationsEndpoint" serializeAs="String">
        <value>api/v1/translate/leagues/{0}</value>
      </setting>
      <setting name="TeamsTranslationsEndpoint" serializeAs="String">
        <value>api/v1/translate/teams/{0}</value>
      </setting>
      <setting name="BetTypesTranslationsEndpoint" serializeAs="String">
        <value>api/v1/translate/bettypenames/{0}</value>
      </setting>
      <setting name="LeaguesBySportIdEndpoint" serializeAs="String">
        <value>api/v1/offline/leagues/{0}</value>
      </setting>
      <setting name="EventsByLeagueIdEndpoint" serializeAs="String">
        <value>api/v1/offline/events/{0}</value>
      </setting>
      <setting name="EventsEndpoint" serializeAs="String">
        <value>api/v1/offline/events</value>
      </setting>
      <setting name="LeaguesEndpoint" serializeAs="String">
        <value>api/v1/line/leagues</value>
      </setting>
      <setting name="BetTypesEndpoint" serializeAs="String">
        <value>api/v1/static/bettypes</value>
      </setting>
      <setting name="OddTypesEndpoint" serializeAs="String">
        <value>api/v1/static/oddtypes</value>
      </setting>
      <setting name="ErrorLogsPath" serializeAs="String">
        <value>C:\Users\1\Desktop\ATLogs\Errors\error.txt</value>
      </setting>
      <setting name="OddsByLeagueId" serializeAs="String">
        <value>api/v1/offline/oddsByLeague/{0}</value>
      </setting>
      <setting name="OddsByEventId" serializeAs="String">
        <value>api/v1/offline/odds/{0}</value>
      </setting>
      <setting name="ViewTypesEndpoint" serializeAs="String">
        <value>api/v1/static/bettypeviews</value>
      </setting>
      <setting name="BetGroupsTranslationsEndpoint" serializeAs="String">
        <value>api/v1/translate/betgrouptitles/{0}</value>
      </setting>
      <setting name="BetGroupsEndpoind" serializeAs="String">
        <value>api/v1/static/betgroups</value>
      </setting>
      <setting name="OddTypesTranslationsEndpoint" serializeAs="String">
        <value>api/v1/translate/betgrouptypetitles/{0}</value>
      </setting>
    </AmazingTerminal.Properties.Settings>
  </applicationSettings>
</configuration>
